// font setting profile component

@import "fontSetting";

.container {
  .icon-word {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon {
    font-size: 30px;
  }
  .gold {
    color: rgb(138, 118, 4);
  }
  #bottoncino {
    border: 2px solid #88b5e1;
  }
  #bottoncino:hover {
    background-color: #88b5e1;
    border: 2px solid #0080ff;
  }
}
a#navbarScrollingDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  font-size: 30px;
  color: #33aada;
  padding: 0;
  margin: 0;
  padding: 0px 7px;
}

#banana:hover {
  box-shadow: 1px 5px 5px 0px gray;
}

.mia {
  font-size: 12px;
}

.networkCard {
  .icon-word {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon {
    font-size: 30px;
  }
  .gold {
    color: rgb(138, 118, 4);
  }
  #bottoncino {
    border: 2px solid #88b5e1;
  }
  #bottoncino:hover {
    background-color: #88b5e1;
    border: 2px solid #0080ff;
  }
}
a#navbarScrollingDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  font-size: 30px;
  color: #33aada;
  padding: 0;
  margin: 0;
  padding: 0px 7px;
}

#banana:hover {
  box-shadow: 1px 5px 5px 0px gray;
}

.mia {
  font-size: 12px;
}

.ombra:hover {
  box-shadow: 0px 10px 7px 0px grey;
}

.chiusura {
  position: absolute;
  right: 7px;
  top: 8px;
}
