.greyHover2 {
  border: none;
  background: #f8f9fa;
}

.greyHover2:hover {
  background: #ebebeb;
}

.proOpenTo {
  border-radius: 30px !important;
  padding: 5px 15px !important;
}

.proOpenTo:hover {
  background-color: #004182 !important;
}

.proModProfile {
  border-radius: 30px !important;
  padding: 5px 15px !important;
}

.proModProfile:hover {
  box-sizing: border-box;
  color: #0a66c2 !important;
  outline: #0a66c2 1px solid !important;
  background-color: #e2f0fe !important;
}

.proMore {
  border-radius: 30px !important;
  padding: 5px 15px !important;
  color: rgb(138, 138, 138) !important;
  border: rgb(138, 138, 138) solid 1px !important;
}

.proMore:hover {
  box-sizing: border-box;
  color: #5e5e5e !important;
  outline: #5e5e5e 1px solid !important;
  background-color: #ebebeb !important;
}

.proDelete {
  border-radius: 30px !important;
  padding: 5px 15px !important;
  color: white !important;
  background-color: #e63238;
  border: #e63238 solid 1px !important;
}

.proDelete:hover {
  box-sizing: border-box;
  color: white !important;
  background-color: #c70c12 !important;
}
