.omino {
  width: 21%;
  z-index: 2;
  position: relative;
}

.ominoIcona {
  font-size: 41px;
  position: absolute;
  right: 8%;
  top: 25%;
  color: darkgreen;
  z-index: 0;
}

@media screen and (min-width: 1800px) {
  .omino {
    width: 21%;
    z-index: 2;
    position: relative;
  }

  .ominoIcona {
    font-size: 49px;
    position: absolute;
    right: 6%;
    top: 26%;
    color: darkgreen;
    z-index: 0;
  }
}
