// Modal section
@import "modal";

// Navbar section
@import "navBar";

// button section

@import "button";

// font setting profile component

@import "fontSetting";

@import "myNetwork";

// font import

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #f3f2ef;
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Roboto";
}

.link-fix {
  text-decoration: none;
}

.singolaPersona Col :last-child {
  border-bottom: none !important;
}

/* .buttonPeople:hover {
  border: solid 1px aqua;
} */

.buttonPeople:hover span {
  display: none;
}
.buttonPeople:hover:before {
  content: "Unfollow";
}

.proCard {
  overflow: hidden;
  border: solid 1px #e0dfdc;
}

.proIcon {
  font-size: 25px !important;
  font-weight: 500 !important;
}

.proImgBarSetting {
  height: 200px;
  width: 100%;
}

.proAbsolute {
  width: 150px;
  height: 150px;
  top: 100px;
  left: 25px;
  border: solid 4px white;
}

.postModBar {
  height: 55px;
  width: 100%;
  border-radius: 60px;
}

.postModText {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-weight: 500;
}

.greyHover:hover {
  background-color: #ebebeb;
}

.likeHover {
  background-color: #59a2ed;
  padding: 5px;
  border-radius: 50%;
  color: white;
}

.likeHover:hover {
  background-color: #59a2ed;
  text-decoration: underline;
  padding: 5px;
  border-radius: 50%;
}

.likeActive {
  // // background: #59a2ed !important;
  // color: white !important;
}

.reverseChar {
  transform: rotateY(180deg);
}

.matita {
  right: 5%;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: #5e5e5e;
  padding: 2px 10px 5px;
}

.matita:hover {
  background-color: #ebebeb;
  border-radius: 50%;
  color: #5e5e5e;
}

.matita:active {
  color: black;
}

.plus {
  left: 92%;
  font-size: 25px;
}

.eccolo {
  top: -50px;
}

#photo {
  width: 75px;
  height: 75px;
  // padding: 3px;
  object-fit: cover;
  border-radius: 50%;
}

.topCard {
  border-bottom: 1px solid black;
}

.square {
  width: 15px;
  height: 15px;
  background: rgb(248, 199, 126);
  background: -moz-linear-gradient(52deg, rgba(248, 199, 126, 1) 50%, rgba(255, 224, 179, 1) 50%);
  background: -webkit-linear-gradient(52deg, rgba(248, 199, 126, 1) 50%, rgba(255, 224, 179, 1) 50%);
  background: linear-gradient(52deg, rgba(248, 199, 126, 1) 50%, rgba(255, 224, 179, 1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8c77e",endColorstr="#ffe0b3",GradientType=1);
  margin-right: 3px;
  border-radius: 10%;
}

.copert {
  height: 100px;
  object-fit: cover;
}

.tratto {
  margin: 0px 0px 16px;
}

.grigio:hover {
  background-color: rgb(235, 235, 235);
}

.divPost {
  height: 55px;
  width: 100%;
  background-color: lightgray;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #bababa;
}

.imgNetwork {
  height: 70px;
  object-fit: cover;
  object-position: top;
}

.imgDueNetwork {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 23px;
  left: 4%;
}

.people:active {
  display: none;
}
